<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>
  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>
  <label>Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>
  <br>
  <br>




  <h4>All Subs</h4>
    <% if @subs %>
      <% @subs.each do |sub| %>
        <input type="checkbox" name="sub_ids[]" value="<%= sub.id %>">
        <%= sub.title %>
    <% end %>
  <% end %>

  <br>
  <input type="submit" value="Submit">
</form>
